.images img {
    display: inline;
    margin: auto;
    text-align: center;
    box-shadow: 5px black;

     
}
.images:hover{
    cursor: pointer;
   
}

img{
    width: 80px;
    height: 500px;
    border-radius: 25px;
    text-align: center;
}

.images{
    margin-left: 350px;
    margin-top: 30px;
    padding: 15px;
}